.benchmark_page
  .text-center
    %h1 Rubykon: Ruby Releases

    = github_link 'PragTob/rubykon'

    :ruby
      results = fetch_results('rubykon-benchmark.yml', releases: true)
      locals = {
        value_by_version_by_job: results.fetch('results'),
        description_by_version: results.fetch('descriptions'),
        metrics_unit: results.fetch('metrics_unit'),
        width_percent: 70,
        chart_type: 'column',
      }
    = partial '../graphs', locals: locals
