.benchmark_page
  .text-center
    %h1 Ruby Core (#{prefix}): Ruby Commits

    = github_link 'benchmark-driver/ruby-benchmarks'

    :ruby
      results = fetch_results('ruby-benchmarks/benchmarks/*.yml', releases: false)
      value_by_version_by_job = results.fetch('results').select { |k, v| k.split(/_|\./).first == prefix }.to_h
      locals = {
        value_by_version_by_job: value_by_version_by_job,
        description_by_version: results.fetch('descriptions'),
        metrics_unit: results.fetch('metrics_unit'),
        width_percent: 70,
        chart_type: 'line',
      }
    = partial '../../graphs', locals: locals
