.text-center
  %h1 Hardware

  %p All benchmark results are measured on the machine with following spec.

%table.benchmarks-table.table.table-striped
  %thead
    %tr
      %th Type
      %th Spec
  %tbody
    %tr
      %td Operating System
      %td Ubuntu 16.04
    %tr
      %td Processor
      %td Intel(R) Core(TM) i7-6700 CPU @ 3.40GHz
    %tr
      %td Memory
      %td 62GiB
    %tr
      %td Hard Drive
      %td TOSHIBA DT01ABA100V (HDD 1TB)
    %tr
      %td C compiler
      %td gcc version 5.4.0
